// utils styles
@import './utils/variables';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/container';
@import './components/section';
@import './components/typography';
@import './components/header';
@import './components/logo';
@import './components/nav';
@import './components/contacts';
@import './components/hero';
@import './components/skills';
@import './components/work';
@import './components/team';
@import './components/customers';
@import './components/footer';
@import './components/adress';
@import './components/join';
@import './components/subscribe';
@import './components/modal';
@import './components/modal-form';
@import './components/filter';
@import './components/filter-portfolio';
@import './components/menu';
