.address {
  margin-top: 28px;
    
  &__list {
    padding-left: 0;
    padding-right: 0;
    margin: 0px;
  }

  &__item {
    list-style-type: none;
    text-decoration: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }
}
  
  .address__street {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
  }
  
  .address__contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }