.contact__list {
  display: none;
  @media screen and (min-width:768px) {
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width:1200px) {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contact__item {
    list-style-type: none;
}

.contact__link {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: var(--anim-fast);

    @media screen and (min-width:1200px) {
      font-size: 14px;
      line-height: 1.14;
      gap: 10px;
    }

  &:hover,
  &:focus{
    color: #2196f3
  }
}
 
.contact__icon {
    fill: currentColor;

  &:hover,
  &:focus {
    color: #2196f3
  }
}
