.header {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 24px;

  &__container {
    @extend .container;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
