.modal-form {
  &__group {
    margin-bottom: 20px;
  }
  
  &__label {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
  }
  
  &__wrapper {
    position: relative;
    margin-bottom: 10px;
  }
}

.modal-form__field {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    padding-right: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline var(--anim-fast);

  &:focus {
    outline-color: #2196f3;
    border-radius: 4px;
    cursor: pointer;
  }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--anim-fast);
  }
  
.modal-form__field:focus + .modal-form__icon {
    fill: #2196f3;
}

.modal-form__message {
    display: block;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline var(--anim-fast);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

  &:focus {
    outline-color: #2196f3;
    border-radius: 4px;
    cursor: pointer;
  }
}

.modal-form__agreement {
    display: flex;
    align-items: center;
    margin-left: 12px;
    gap: 8px;

  &-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    user-select: none;
  }

  &-link {
    color: #2196f3;
  }
}

.modal-form__checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color var(--anim-fast);
     
  &:checked {
    background-color: #2196f3;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    border-radius: 2px;
    background-size: 11px 8px;
  }
}

.modal-form__btn {
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: 124px;
    margin-top: 30px;
    padding: 10px 52px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    transition: var(--anim-fast);
    cursor: pointer;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}