.nav {
  display: none;

    @media screen and (min-width:768px) {
      display: flex;
      margin-right: auto;
      margin-left: 88px;
    }

    @media screen and (min-width:1200px) {
      display: flex;
      margin-right: auto;
      margin-left: 93px;
    }
    
  &__list {
    display: flex;
    gap: 50px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__item {
    list-style-type: none;
  }
 }
  
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    text-decoration: none;
    transition: var(--anim-fast);

  &:hover,
  &:focus {
    color: #2196f3;
  }
}
  
  .nav__link-special {
    color: #2196f3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    transition: var(--anim-fast);

  &::after {
    content: "";
    position: absolute;
    bottom: -38px;
    left: 0px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    @media screen and (min-width:1200px) {
      bottom: -32px;
    }
  }
}
  