.team {
  @extend .section;
  background: #f5f4fa;

  &__container {
    @extend .container
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-left: 0;
    padding-right: 0;
    margin: 0%;

    @media screen and (max-width:479px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__item {
    list-style-type: none;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    }

  &__icon {
    fill: currentColor;
  }
}

.team-group {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    height: 168px;
    padding-top: 30px;
    padding-bottom: 24px;

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 16px;
  }
}

  .social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    gap: 10px;
  }
  
  .socials__item {
    list-style-type: none;
  }

  .socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #afb1b8;
    transition: var(--anim-fast);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #2196f3;
  }
}  