.work {
  @media screen and (max-width:1199px) {
    display: none;
  }
  
  @extend .section;
    padding-top: 0;
  
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  &__item {
    list-style-type: none;
    position: relative;
  }
}

.work-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  } 
}
  